<h1 class="page-title">{{ "RESTAURANTS_PAGE" | translate }}</h1>

<div class="items-wrapper">
  <mat-card *ngFor="let restaurant of restaurants" class="item-card" [@card]>
    <mat-card-header>
      <mat-card-title>{{restaurant.info.title}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.address}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/restaurants/{{restaurant.imgName}}" alt="{{restaurant.info.title}}">
    <mat-card-actions>
      <!-- <a mat-raised-button>Open</a> -->
      <a mat-raised-button [href]="restaurant.info.link" target="_blank">Visit location</a>
      <span class="copy-location-wrapper">
        <button mat-raised-button color="primary" (click)="copyLocation(restaurant.info.link)">Copy location</button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
<google-maps-wrapper [markers]="restaurants"></google-maps-wrapper>
