<div class="festival-main-container" [class.is-small-screen]="mobileQuery.matches">
  <mat-toolbar color="primary" class="festival-toolbar mat-elevation-z6">
    <button mat-icon-button class="toggle-sidebar" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="./home" class="nav-link home">
      <img
        src="assets/images/sighisoara-festival{{ mobileQuery.matches ? '-tower' : '' }}.svg"
        title="Home"
        alt="Home"
        class="ng-star-inserted"
      />
    </a>
    <ul class="navbar-nav">
      <!-- <li class="nav-item" *ngIf="isAdminRoute && !currentUser?.username">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Login
        </a>
      </li>
      <li class="nav-item" *ngIf="isAdminRoute && currentUser?.username">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li> -->
      <li class="contact">
        <a class="nav-link" href="mailto:admin@veezble.com">
          <span class="material-icons">mail</span>
          <span class="contact-text">admin&#64;veezble.com</span>
        </a>
      </li>
      <li class="contact">
        <a class="nav-link" href="tel:+40741373555">
          <span class="material-icons">call</span>
          <span class="contact-text">+40741373555</span>
        </a>
      </li>
      <li (click)="switchLang()">
        <a class="nav-link lang-switcher" href="javascript:void(0)">
          <img src="assets/images/{{ language === 'en' ? 'ro' : 'en' }}.png" />
        </a>
      </li>
    </ul>
  </mat-toolbar>

  <mat-sidenav-container class="festival-sidenav-container">
    <mat-sidenav
      class="festival-sidenav"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="60"
    >
      <mat-nav-list (click)="mobileQuery.matches ? snav.toggle() : false">
        <a mat-list-item *ngFor="let nav of fillerNav" routerLink="{{ nav.route }}">
          {{ nav.name | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="festival-content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <footer>
        <span>
          © {{ currentYear }}
          <a
            href="https://www.veezble.com"
            target="_blank"
            rel="noopener"
            (click)="trackCopyrightEvent()"
            >VEEZBLE</a
          >.
          {{ 'APP_PAGE.ALL_RIGHTS_RESERVED' | translate }}
        </span>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ngx-scrolltop></ngx-scrolltop>
