<h1 class="page-title">{{ "ACCOMODATIONS_PAGE" | translate }}</h1>

<div class="items-wrapper">
  <mat-card *ngFor="let accomodation of accomodations" class="item-card" [@card]>
    <mat-card-header>
      <mat-card-title>{{accomodation.info.title}}</mat-card-title>
      <mat-card-subtitle>{{accomodation.address}}</mat-card-subtitle>
    </mat-card-header>
    <app-spinner *ngIf="!imageLoaded[accomodation.id]"></app-spinner>
    <img 
      mat-card-image 
      src="assets/images/accomodations/{{accomodation.imgName}}" 
      alt="{{accomodation.info.title}}"
      [style.visibility]="imageLoaded[accomodation.id] ? 'visible' : 'hidden'" (load)="imageLoaded[accomodation.id] = true"
      (error)="imageLoaded[accomodation.id] = true">>
    <mat-card-actions>
      <span class="copy-location-wrapper">
        <button mat-raised-button color="primary" (click)="copyLocation(accomodation.info.link)">Copy location</button>
      </span>
      <a mat-raised-button [href]="accomodation.info.link" target="_blank">Visit location</a>
    </mat-card-actions>
  </mat-card>
</div>
<google-maps-wrapper [markers]="accomodations"></google-maps-wrapper>