@use '@angular/material' as mat;
@include mat.core();

$licorice-palette: (
  50: #E8E7E6,
  100: #CAC1C0,
  200: #A89797,
  300: #886F6E,
  400: #715252,
  500: #5B3636,
  600: #502F30,
  700: #412526,
  800: #321A1D,
  900: #230E11,
  A100: #E8E7E6,
  A200: #886F6E,
  A400: #502F30,
  A700: #230E11,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

// $option-2-palette: (
//   50: #E6F0EE,
//   100: #C1DAD5,
//   200: #9EC3BA,
//   300: #82ABA1,
//   400: #73998F,
//   500: #63897E,
//   600: #5D7C72,
//   700: #546D64,
//   800: #4B5D57,
//   900: #3B423F,
//   A100: #E6F0EE,
//   A200: #82ABA1,
//   A400: #5D7C72,
//   A700: #3B423F,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     A100: rgba(black, 0.87),
//     A200: rgba(black, 0.87),
//     A400: white,
//     A700: white,
//   )
// );

$gainsboro-palette: (
  50: #f9f9fa,
  100: #f3f3f4,
  200: #ebebec,
  300: #dcdcdd,
  400: #b9b9ba,
  500: #99999a,
  600: #707071,
  700: #5d5d5e,
  800: #3e3e3f,
  900: #1d1d1e,
  A100: #f5f5f5,
  A200: #eaeaeb,
  A400: #d6d6d7,
  A700: #838386,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

$crimson-palette: (
  50: #ffebef,
  100: #ffcdc5,
  200: #f0999f,
  300: #e77179,
  400: #f24e58,
  500: #f83a40,
  600: #e9313e,
  700: #d72638,
  800: #ca1e30,
  900: #bb0d24,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$licorice-primary: mat.define-palette($licorice-palette, 700, 300, 900);
$licorice-accent: mat.define-palette($gainsboro-palette, 300, 100, 500);
$licorice-warn: mat.define-palette($crimson-palette, 700);
$licorice-theme: mat.define-light-theme((
  color: (
    primary: $licorice-primary,
    accent: $licorice-accent,
    warn: $licorice-warn,
  )
));
@include mat.all-component-themes($licorice-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
