#home-content-wrapper {
  text-align: center;

  .home-row {
    padding-top: 10px;

    .home-row-description {
      clear: both;

      p {
        text-align: justify;
      }

      a {
        margin: 5px auto;
      }
    }

    &.partner-wrapper {
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
    }
  }
}

img {
  border-radius: 20px;
  width: 100%;
}

ul li {
  text-align: left;
}

@media only screen and (min-width: 600px) {
  #home-content-wrapper {
    margin-top: 50px;
  }

  .home-row {
    display: flex;

    .home-row-description {
      align-content: center;
      display: flex;
      flex: 3;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 10px;
    }

    .home-row-img {
      flex: 2;
    }

    .home-row-action-buttons {
      display: flex;
      justify-content: space-between;
      gap: 8px;
    }

    &.switch-order {
      flex-direction: row-reverse;

      .home-row-description {
        padding: 0 10px 0 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #home-content-wrapper {
    margin-top: 10px;
  }

  .home-row {
    display: block;
    margin-top: 10px;

    .home-row-description {
      margin-top: 10px;
    }
  }
}
